# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Dataset
dataset/

# Python cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Jupyter
.ipynb_checkpoints/

# Model checkpoints


# Generated outputs
outputs/

# Gradio
gradio_cached_examples/